.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* first loaded */
.fadeName {
  animation:1s ease .7s normal forwards 1 fadein;
  -webkit-animation:1s ease .7s normal forwards 1 fadein;
  opacity:0
}

/* second loaded */
.fadeSub {
  animation:1s ease 1.4s normal forwards 1 fadein;
  -webkit-animation:1s ease 1.4s normal forwards 1 fadein;
  opacity:0
}

/* third loaded */
.fadeOne {
  animation:1s ease 2.1s normal forwards 1 fadein;
  -webkit-animation:1s ease 2.1s normal forwards 1 fadein;
  opacity:0
}
  
  /* fourth loaded */
.fadeTwo {
  animation:1s ease 2.8s normal forwards 1 fadein;
  -webkit-animation:1s ease 2.8s normal forwards 1 fadein;
  opacity:0
}
    
.fadeThree {
  animation:1s ease 3.5s normal forwards 1 fadein;
  -webkit-animation:1s ease 3.5s normal forwards 1 fadein;
  opacity:0
}
    
.fadeRest {
  animation:1s ease 4.2s normal forwards 1 fadein;
  -webkit-animation:1s ease 4.2s normal forwards 1 fadein;
  opacity:0
}
