
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #131515;
  color: #fefcfb;
}

@font-face {
  font-family: 'Calendas_Plus';
  src: local('Calendas_Plus'), url(./fonts/Calendas_Plus.otf) format('opentype');
}

@font-face {
  font-family: 'FuturaPTBook';
  src: local('FuturaPTBook'), url(./fonts/FuturaPTBook.otf) format('opentype');
}

@font-face {
  font-family: 'FuturaPTLightOblique';
  src: local('FuturaPTLightOblique'), url(./fonts/FuturaPTLightOblique.otf) format('truetype');
}

@font-face {
  font-family: 'Monofur';
  src: local('Monofur'), url(./fonts/monofur.ttf) format('truetype');
}

@font-face {
  font-family: 'Muscat';
  src: local('Muscat'), url(./fonts/Muscat.ttf) format('truetype');
}

@font-face {
  font-family: 'Jasmine_and_Greentea';
  src: local('Jasmine_and_Greentea'), url(./fonts/Jasmine_and_Greentea.otf) format('opentype');
}

@font-face {
  font-family: 'Avocado_and_Lime';
  src: local('Avocado_and_Lime'), url(./fonts/Avocado_and_Lime.otf) format('opentype');
}

@font-face {
  font-family: 'Hughs';
  src: local('Hughs'), url(./fonts/Hughs.otf) format('opentype');
}